.contact {
    position: relative;
    #map {
        height: 400px;
    }
    h3 {
        padding: 90px 0 20px;
        font-size: 20px;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
    }
   
    .massege {
        position: absolute;
        top: 500px;
        right: 200px;
        width: 560px;
        padding: 30px;
        background: #ffffff;
        p {
            text-transform: uppercase;
        }
        input, textarea {
            padding: 5px;
            background: #b7d0e2;
            border: none;
        }
        .f-flex {
            display: flex;
            justify-content: space-between;
            input {
                width: 240px;
            }
        }
        textarea {
            width: 490px;
            height: 160px;
            padding: 10px !important;
        }
        input[type=submit] {
            padding: 15px 25px;
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;
            background: #23b7a4;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
                background: #0d7a6c;
            }
        }
    }
}