.work {
  text-align: center; }
  .work .container .row {
    margin: 10px 0; }
    .work .container .row .col-sm-12, .work .container .row .col-md-6, .work .container .row .col-lg-4, .work .container .row .col-xl-4 {
      margin: 10px 0;
      position: relative;
      cursor: pointer; }
      .work .container .row .col-sm-12:hover span.plus, .work .container .row .col-md-6:hover span.plus, .work .container .row .col-lg-4:hover span.plus, .work .container .row .col-xl-4:hover span.plus {
        opacity: 0.6; }
      .work .container .row .col-sm-12:hover span.name, .work .container .row .col-md-6:hover span.name, .work .container .row .col-lg-4:hover span.name, .work .container .row .col-xl-4:hover span.name {
        opacity: 1; }
      .work .container .row .col-sm-12 span, .work .container .row .col-md-6 span, .work .container .row .col-lg-4 span, .work .container .row .col-xl-4 span {
        display: block;
        position: absolute;
        text-align: center;
        color: #ffffff;
        transition: all 0.9s ease; }
      .work .container .row .col-sm-12 span.name, .work .container .row .col-md-6 span.name, .work .container .row .col-lg-4 span.name, .work .container .row .col-xl-4 span.name {
        bottom: 0;
        padding: 25px 15px;
        font-size: 26px;
        text-transform: uppercase;
        opacity: 0; }
  .work a {
    display: inline-block;
    margin: 50px auto;
    padding: 15px 35px;
    background: inherit;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #ffffff;
    border-radius: 10px;
    transition: box-shadow 0.5s ease; }
    .work a:hover {
      box-shadow: 0 0 20px 5px #5b5b5c; }
